<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d %highlight(%-5level) %boldMagenta(%logger): %msg%n</pattern>
		</encoder>
	</appender>
	<logger name="org.springframework" level="INFO">
		<appender-ref ref="STDOUT" />
	</logger>
	<logger name="org.eclipse.jetty" level="INFO">
		<appender-ref ref="STDOUT" />
	</logger>
	<logger name="top.starrysea" level="DEBUG">
		<appender-ref ref="STDOUT" />
	</logger>
</configuration>